<!-- blog/templates/blog/blogpost_detail.html -->
{% extends "blog/base.html" %}

{% block title %}{{ blog_post.title }}{% endblock %}

{% block content %}
<h1>{{ blog_post.title }}</h1>
{% if blog_post.preview_image %}
    <img src="{{ blog_post.preview_image.url }}" alt="Preview" class="img-fluid"/>
{% endif %}
<p>{{ blog_post.content }}</p>
<p><strong>Published:</strong> {{ blog_post.is_published }}</p>
<p><strong>Created on:</strong> {{ blog_post.created_at }}</p>
<p><strong>Views:</strong> {{ blog_post.view_count }}</p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'blog:blogpost_update' blog_post.pk %}">Редактировать</a>
{% endif %}
<a class="btn btn-secondary" href="{% url 'blog:blogpost_list' %}">Вернуться к списку</a>
{% endblock %}