{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Каталог - Skystore{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 text-center">Каталог товаров</h1>

    <div class="text-center mb-4">
        {% if user.is_authenticated %}
        <a href="{% url 'catalog:product_create' %}" class="btn btn-success">Добавить продукт</a>
        {% endif %}
    </div>

    <div class="row mt-4">
        {% for category, products in products_by_category.items %}
        <div class="col-md-12">
            <h2 class="mt-2 text-center">{{ category }}</h2>
            <div class="row">
                {% for prod in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{% if prod.image %}{{ prod.image.url }}{% else %}{% static 'images/default-image.png' %}{% endif %}"
                             alt="{{ prod.name }}" class="card-img-top small-img">
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.name }}</h5>
                            <p class="card-text">Цена: {{ prod.price }} руб.</p>
                            <p class="card-text">{{ prod.description|truncatewords:100 }}</p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'catalog:product_detail' prod.pk %}" class="btn btn-primary">Подробнее</a>
                            <a href="{% url 'catalog:product_delete' prod.pk %}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% empty %}
        <p>Товары не найдены.</p>
        {% endfor %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                SkyStore
                <small class="d-block mb-3 text-muted">&copy; 2023</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}